@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hwb(220 94% 4%);
    color: #171717;
    overflow-y: overlay;
    --scrollbar-width: calc(100vw - 100%);
}
body.dark {
    background-color: #18181b;
    color: #fafafa;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}